.cart-container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin: auto;
}

.cart-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25em;
}

.cart-table-row {
  align-items: center;
  border: 1px solid black;
  min-width: 200em;
}

.cart-table-cell {
  border: 1px solid black;
  min-width: 20em;
  text-align: center;
}

.cart-submit {
  width: 5em;
  margin-top: 1em;
  margin-right: 5em;
  margin-left: auto;
}
