.cart-container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin: auto;
}

.cart-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25em;
}

.cart-table-row {
  align-items: center;
  min-width: 200em;
}

.cart-table-cell {
  border: 1px solid black;
  min-width: 20em;
  text-align: center;
}

.cart-table-cell-h-img {
  border-left: 1px solid black;
  border-top: 1px solid black;
}
.cart-table-cell-r-img {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.cart-qty-input {
  max-width: 2em;
  margin-right: 20%;
}

.cart-btn {
  width: 5em;
  margin-top: 1em;
  margin-right: 5em;
  margin-left: auto;
}

.cart-table-qty-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cart-update-btn-img {
  max-width: 1.1em;
}

//Home Page
.home-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: row;
  border-radius: 10px;
  align-items: center;
  display: inline-block;
  .paper-card {
    height: 400px;
    width: 20rem;
    border: 2px solid gray;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin: 40px 20px;
    display: flex;
    .add-to-cart {
      font-weight: 700;
      font-size: 18px;
      border-radius: 5px;
      background-color: orange;
      width: 60%;
      height: 40px;
      display: block;
      cursor: pointer;
      text-transform: uppercase;
      margin: 15px auto;
    }
    .paper-image {
      width: 100%;
      max-width: 300px;
      min-height: 200px;
      display: block;
      object-fit: cover;
    }
  }
}
